<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partials/head -%>
</head>

<body>

    <%- include ../partials/header -%>
    <nav>
        <a href="/products">Menu</a>
        <a href="/orders">Zamówienia</a>
        <a href="/raport">Raport</a>
    </nav>
    <main>
        <h2>Witaj!</h2>
        <p>W zakładce "Menu" można obejrzeć aktualne menu burgerowni. Klikając na konkretne nazwy burgerów oraz nazwy napojów można przenieść się na stronę ze szczegółami na temat tych produktów,  edytować ich właściwości oraz usuwać. Po kliknięciu na przyciski "Dodaj napój" oraz "Dodaj burgera" wyświetlony zostanie formularz do dodania produktu.</p>
        <p>
        W zakładce "Zamówienia" można składać zamówienia zaznaczając produkty w menu oraz podając ich ilość.
        </p>
        <p>
        W zakładce "Raport" można obejrzeć podsumowanie danych.
        </p>
        <p>Pod linkiem <a href="https://burgerownia-projekt.herokuapp.com/products/api">https://burgerownia-projekt.herokuapp.com/products/api</a> można zobaczyć bazę danych w formacie JSON</p>
    </main>
    <%- include ../partials/footer%>
</body>

</html>